@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

body {
  font-family: var(--font-family);
  font-size: 15px;
  background: var(--dark-grey);
}

a:focus,
input:focus,
select:focus {
  outline: none;
}

.hidden {
  display: none;
}

.cart {
  position: fixed;
  right: 10px;
  top: 10px;
  background: var(--white);
  width: calc(100% - 20px);
  max-width: 500px;
  height: calc(100% - 20px);
  border-radius: 15px;
  overflow: hidden;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-grey);
}

.header {
  padding: 15px 15px 5px;
}

.message {
  background: var(--lighten-grey);
  border: 1px solid var(--light-grey);
  color: var(--blue);
  font-size: 14px;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 3px;
  text-align: center;
}

.message a {
  font-weight: 700;
  text-decoration: none;
  color: var(--blue);
}
.upsell__cart-gift-item {
  padding: 5px 0 0;
  text-align: center;
  font-size: 14px;
}
.gift-item {
  padding: 5px 0 0;
  text-align: center;
  font-size: 14px;
}
.content::-webkit-scrollbar {
  display: none;
}
.slide {
  min-width: 100%;
  position: relative;
}
div#upsell_mslide {
  display: flex;
  width: 100%;
}
.upsell__cart-gift-item .upsell__cart-icon {
  background: #e3e3e3;
  width: 20px;
  height: 20px;
  padding: 2px 3px 4px;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gift-item .icon {
  background: var(--light-grey);
  width: 16px;
  height: 16px;
  padding: 2px 3px 4px;
  margin: 0 auto;
  border-radius: 15px;
}
.upsell__cart-gifts {
  display: flex;
  justify-content: space-around;
}
.gift-item .icon.active svg path {
  fill: #fff;
}

.progress-bar {
  background: var(--light-grey);
  height: 8px;
  margin: 5px 0;
  border-radius: 10px;
}

.progress-bar .bar {
  height: 100%;
  border-radius: 10px; max-width: 100%;
  transition: width 500ms ease-in;
}

.progress-hint {
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid var(--light-grey);
  padding-bottom: 7px;
}

.content {
  height: calc(100% - 416px);
  overflow-y: scroll;
}


.otherclass2{
  height: calc(100% - 333px) !important;
}

.cart-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid var(--light-grey);
  padding: 15px;
}

.cart-item .image {
  width: 20%;
  max-width: 80px;
  align-self: flex-start;
}

.cart-item .image img {
  float: left;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.cart-item .title-qty {
  width: 50%;
}





.cart-item .qty {
  margin: 5px 0;
}

.cart-item .qty input {
  width: 60px;
  height: 28px;
  line-height: 28px;
  border: 1px solid var(--light-grey);
  box-shadow: none;
  text-align: center;
}

.cart-item .clear-price {
  width: 15%;
  text-align: right;
}

.cart-item .clear button {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMyA2djE4aDE4di0xOGgtMTh6bTUgMTRjMCAuNTUyLS40NDggMS0xIDFzLTEtLjQ0OC0xLTF2LTEwYzAtLjU1Mi40NDgtMSAxLTFzMSAuNDQ4IDEgMXYxMHptNSAwYzAgLjU1Mi0uNDQ4IDEtMSAxcy0xLS40NDgtMS0xdi0xMGMwLS41NTIuNDQ4LTEgMS0xczEgLjQ0OCAxIDF2MTB6bTUgMGMwIC41NTItLjQ0OCAxLTEgMXMtMS0uNDQ4LTEtMXYtMTBjMC0uNTUyLjQ0OC0xIDEtMXMxIC40NDggMSAxdjEwem00LTE4djJoLTIwdi0yaDUuNzExYy45IDAgMS42MzEtMS4wOTkgMS42MzEtMmg1LjMxNWMwIC45MDEuNzMgMiAxLjYzMSAyaDUuNzEyeiIvPjwvc3ZnPg==)
    center no-repeat;
  background-size: 14px;
  opacity: 0.5;
  margin: 0;
  padding: 0;
}

.cart-item .clear button:hover {
  opacity: 1;
}


.cart-item button {
  background: var(--blue);
  color: var(--white);
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 70px;
  height: 28px;
}

.cart-item .options-select {
  width: 100%;
}

.cart-item .options-select select {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.upsell {
  background: var(--darker-grey);
  padding: 15px;
  margin: 0;
}

.upsell .subtitle {
  margin: 0 0 15px;
}

.upsell .cart-item {
  background: var(--white);
  margin: 0 0 10px;
}

.footer {
  background: var(--white);
  width: calc(100% - 30px);
  position: absolute;
  bottom: 0;
  border-top: 1px solid var(--light-grey);
  padding: 15px;
  border-radius: 0 0 15px 15px;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  color: var(--grey);
}

.subtotal .subtotal-items {
  color: var(--dark-grey);
}

.subtotal .discount {
  color: var(--red);
  margin-right: 10px;
}

.checkout {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

button.btn-primary {
  width: 100%;
  height: 42px;
  line-height: 36px;
  color: var(--white);
  background: var(--red);
  border: 2px solid var(--red);
  border-radius: 6px;
  margin: 7px 0 0;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

button.btn-secondary {
  width: 100%;
  height: 42px;
  line-height: 36px;
  color: var(--red);
  background: var(--white);
  border: 2px solid var(--red);
  border-radius: 6px;
  margin: 7px 0 0;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

.empty-cart {
  margin: 30px 15px;
  padding: 15px;
  border: 1px solid var(--light-grey);
  background: var(--lighten-grey);
}

.afterpay {
  color: var(--dark-grey);
  padding: 10px 0 0;
  text-align: center;
  font-size: 13px;
}

.afterpay img {
  height: 12px;
  position: relative;
  top: 3px;
}

.upsell2 {
  background: var(--darker-grey);
}

.upsell2 .title {
  margin: 15px 0 7px;
}

.upsell2-container {
  overflow: auto;
  white-space: nowrap;
  padding: 7px;
}

.upsell2-item {
  width: 140px;
  background: var(--white);
  margin: 8px;
  padding: 15px;
  display: inline-block;
  vertical-align: top;
}

.upsell2-item img {
  max-width: 100%;
  height: auto;
}

.upsell2-item .title-qty strong {
  display: block;
  white-space: normal;
  height: 20px;
  overflow: hidden;
}

.upsell2-item .price {
  color: var(--dark-grey);
  font-size: 13px;
  font-weight: 700;
}

.upsell2-item .price s {
  color: var(--grey);
}

.upsell2-item .discount {
  color: var(--red);
}

.upsell2-item button {
  background: var(--blue);
  color: var(--white);
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  height: 28px;
  margin: 5px 0 0;
}

.upsell2-item .options-select {
  width: 100%;
}

.upsell2-item .options-select select {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px 0 0;
}
.upsell__cart-upsell2-item button {
  color: var(--white);
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  height: 28px;
  margin: 5px 0 0;
}
.upsell__cart-upsell2-item .upsell__cart-price {
  color: var(--dark-grey);
  font-size: 13px;
  font-weight: 700;
}
.upsell__cart-image img {
  height: 100px;
  width: 100%;
}
.upsell__cart-upsell2-item {
  width: 105px;
  background: var(--white);
  margin: 8px;
  padding: 15px;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}
#upsell_prev_recom {
  overflow: auto;
  white-space: nowrap;
  padding: 7px;
  position: relative;
}
.upsell__cart-upsell2-item .upsell__cart-title-qty strong {
  display: block;
  white-space: normal;
  height: 20px;
  overflow: hidden;
}
.crsl.crousl #prev {
  position: absolute;
  top: 45%;
  left: 8px;
}
.crsl.crousl #next {
  position: absolute;
  top: 45%;
  right: 8px;
}
.crsl.crousl {
  position: relative;
}
.crsl.crousl .crousl {
  overflow: hidden !important;
}
.upsell_animate{
  -webkit-transition: 0.25s ease;
  transition: 0.3s ease;
  -webkit-transform: translate(-140px, 0);
  transform: translate(-140px, 0);
}
.upsell_animaterev{
  -webkit-transition: 0.25s ease;
  transition: 0.3s ease;
  -webkit-transform: translate(140px, 0);
  transform: translate(140px, 0);
} 
.upsell__cart-icon.active svg {
  fill: #fff;
  stroke: #fff;
}
button.upsell_crausalbtn{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  border-radius: 100%;
  padding: 6px;
}
div#upsell_announcement {
  overflow-x: hidden;
  position: relative;
  bottom: 30px;
  padding: 13px 0px;
}
button#chkoutbtn a {
  color: #fff;
  text-decoration: none;
}
.upsell_announctop {
  background: var(--lighten-grey);
  border: 1px solid var(--light-grey);
  color: var(--blue);
  font-size: 14px;
  border-radius: 3px;
  text-align: center;
  height: 25px;
  overflow:hidden;
}
.disount_input {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
  padding: 0px 16px;
}
.disount_input input.addrecomd {
  color: #fff;
  border: none;
  width: 100px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
.upsel_disc_inp1 .disount_input {
  margin-bottom: 40px;
}
.upsell_notediv {
  display: grid;
  padding: 0px 10px;
}
.upsell_note_input1 {
  margin-bottom: 13px;
}
.upsell__cart-content {
  overflow-x: hidden;
}
div#afterpayBottom p {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.cart-testimonials_content p{
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #000000;
}

.cart-benefits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.cart-benefits_item {
  display: flex;
  gap: 7px;
  justify-content: left;
  align-items: flex-start;
}
.cart-benefits_item img {
  width: 35px;
}
.cart-testimonials {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.cart-testimonials_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 100%;
}
.cart-testimonials_item_inner {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 80%;
}
.cart-testimonials_content img {
  width: 100px;
  margin-top: 10px;
}



.cart-testimonials_content .cart-testimonials_date {
  display: flex;padding-top: 10px;
}

.cart-testimonials_date img{max-width: 8%; margin: 0;  margin-right: 6px;}
