.Polaris-Frame .Polaris-TopBar {
  background: #082639;
}
.Polaris-Frame .Polaris-TopBar-UserMenu__Details > p{
  color: #fff;
}
.Polaris-Frame .Polaris-Text--subdued{
  color: #ffffffe0;
}
.Polaris-Frame  nav.Polaris-Navigation {
  background: #082639;
}
.Polaris-Frame .Polaris-Navigation__Icon svg{
  fill: #D5EBFF !important;
}
.Polaris-Frame .Polaris-Navigation__Item{
  color: #D5EBFF;
}
.Polaris-Frame .Polaris-Navigation__ListItem:not(:first-child) .Polaris-Navigation__Item{
  border-top:unset;
  margin-top: 5px;
}
.Polaris-Frame .Polaris-Navigation__Item:hover .Polaris-Navigation__Text{
  color: #ECFF00;
}
.Polaris-Frame .Polaris-Navigation__ItemWrapper{
  padding-top: 0px;
  padding-bottom: 0px;
}
.Polaris-Frame .Polaris-TopBar__LogoContainer {
  padding-left: 20px;
}
.Polaris-Frame .Polaris-TopBar-Menu__Activator[aria-expanded='true'], .Polaris-Frame .Polaris-TopBar-Menu__Activator:hover{
  background-color: #133954;
}
.Polaris-Navigation__Item--selected, .Polaris-Navigation__Item:hover{
  background-color: #133954 !important;
}
.Polaris-Layout__Section.Polaris-Layout__Section--secondary {
  flex: 1 1 30rem;
}
.Polaris-Navigation__Section .Polaris-Navigation__SecondaryNavigation .Polaris-Navigation__Item{
  color: #D5EBFF;
}
.Polaris-Navigation__Section .Polaris-Navigation__SecondaryNavigation .Polaris-Navigation__Item--selected, .Polaris-Navigation__Section .Polaris-Navigation__ItemWrapper .Polaris-Navigation__Item--selected,  .Polaris-Navigation__Section .Polaris-Navigation__SecondaryNavigation .Polaris-Navigation__Item:hover {
  color: #ECFF00;
}
.Polaris-Navigation__Section .Polaris-Navigation__Item--selected::before{display: none;}


.cont_tog{display: none;}
.show_cont_tog{display: block; padding-top: 4rem;    padding-left: 3.2rem;}
.cont_tog2{display: none;}
.show_cont_tog2 {
  display: block;
  padding-left: 2rem;
  padding-right: 3rem;
}

.head_tog{float: left; width: 100%; padding-left: 20px;     position: fixed;
  background: #f6f6f7;
  background-color: #f6f6f7;
  padding-top: 10px;
  z-index: +99;}

.head_tog ul{
  list-style: none;
  display: flex;    padding: 0;
}
.head_tog ul li {
  padding: 0 2rem;
  font-size: 16px;
  font-weight: 700; 
  cursor: pointer;
}

.head_tog2 ul{
  list-style: none;

}
.head_tog2 ul li {
  padding-bottom: 14px;
  font-size: 16px;
  font-weight: 700; 
  cursor: pointer;
}

.tab_black{color: #000;}
.active_tab_blue {
  color: #269b9ac7;
}


div#AppFrameNav {
  display: none;
}
.Polaris-Frame--hasNav .Polaris-Frame__Main {padding-left: 3rem !important;}

.tog2_tabs{float: left; width: 100%;}
.head_tog2 {
  float: left;
  width: 15%;
  position: fixed;
    bottom: 16rem;
}

.tab_content_tog2{
  float: right;
  width: 74%;
}


.Polaris-Card {
  background-color: unset !important;
  box-shadow: unset !important;
}

.tab_tog1{float: left; width: 100%; padding-left: 13px;}
.Polaris-Layout__Section.Polaris-Layout__Section--secondary {
  margin-top: -73px;
}
iframe#previewiframe {
  height: 48em !important;
}

.extra_cont_1 {
  float: right;
  width: 74%;
  padding-left: 2rem;
  padding-right: 3rem;
}
.extra_cont_1_hide{display: none;}

.Polaris-Stack {
  justify-content: space-between;
}

.Polaris-Button--primary{background: #269b9a !important;}
.product_data {
  float: left;
  width: 50%;
  height: 120px;
  margin-bottom: 20px;
}
.product_data label{
  font-weight: 600;
}

.head_tog ul a {
  padding: 0 2rem;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}