@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

.upsell--cart input[type="number"]::-webkit-inner-spin-button,
.upsell--cart input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

#upsell_mslide {
  display: flex;
  width: 100%;
  position: absolute;
}
div#upsell_announcement {
  position: relative;
  height: 50px;
  overflow-x: hidden;
}
 #upsell_mslide .slide {
  min-width: 100%;
  position: relative;
} 


.upsell--cart a:focus,
.upsell--cart input:focus,
.upsell--cart select:focus {
  outline: none;
}

.upsell__cart-hidden {
  display: none;
}

.upsell--cart *{
  /* box-sizing: unset; */
}

.upsell--cart {
  position: fixed;
  right: 10px;
  top: 10px;
  background: var(--white);
  width: calc(100% - 20px);
  max-width: 500px;
  height: calc(100% - 20px);
  border-radius: 15px;
  overflow: hidden;
  z-index: 99999;
  /* box-sizing: unset; */
  transition: right 0.5s;
}

.upsell--cart.upsell__cart-close {
  right: -100%;  
}

.upsell__cart-title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.upsell__cart-subtitle {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-grey);
}

.upsell__cart-header {
  border-bottom: 1px solid var(--light-grey);
  padding: 15px 15px 5px;
  position: relative;
}

.upsell__cart-message {
  background: var(--lighten-grey);
  border: 1px solid var(--light-grey);
  color: var(--blue);
  font-size: 14px;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 3px;
  text-align: center;
}

.upsell__cart-message a {
  font-weight: 700;
  text-decoration: none;
  color: var(--blue);
}

.upsell__cart-gifts {
  display: flex;
  justify-content: space-around;
}

.upsell__cart-gift-item {
  padding: 5px 0 0;
  text-align: center;
  font-size: 14px;
}

.upsell__cart-gift-item .upsell__cart-icon {
  background: var(--light-grey);
  width: 20px;
  height: 20px;
  padding: 2px 3px 4px;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upsell__cart-gift-item .upsell__cart-icon.active svg path {
  fill: #fff;
}

.upsell__cart-progress-bar {
  background: var(--light-grey);
  height: 8px;
  margin: 5px 0;
  border-radius: 10px;
}

.upsell__cart-progress-bar .upsell__cart-bar {
  height: 100%;
  border-radius: 10px;
  transition: width 500ms ease-in;
  display: block;
}

.upsell__cart-progress-hint {
  text-align: center;
  font-size: 14px;
}

.upsell__cart-content {
  height: calc(100% - 310px);
  overflow-y: scroll;
}

.upsell__cart-cart-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid var(--light-grey);
  padding: 15px;
}

.upsell__cart-cart-item .upsell__cart-image {
  width: 20%;
  max-width: 80px;
  align-self: flex-start;
}

.upsell__cart-cart-item .upsell__cart-image img {
  float: left;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.upsell__cart-cart-item .upsell__cart-title-qty {
  width: 50%;
}

.upsell__cart-cart-item .color {
  color: var(--dark-grey);
  font-size: 12px;
  font-weight: 700;
}

.upsell__cart-cart-item .upsell__cart-discount {
  color: var(--red);
  font-size: 12px;
  font-weight: 700;
}

.upsell__cart-cart-item .qty {
  margin: 5px 0;
}

.upsell__cart-cart-item .qty input {
  width: 60px;
  height: 28px;
  line-height: 28px;
  border: 1px solid var(--light-grey);
  box-shadow: none;
  text-align: center;
}

.upsell__cart-cart-item .upsell__cart-clear-price {
  width: 15%;
  text-align: right;
}

.upsell__cart-cart-item .clear button {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMyA2djE4aDE4di0xOGgtMTh6bTUgMTRjMCAuNTUyLS40NDggMS0xIDFzLTEtLjQ0OC0xLTF2LTEwYzAtLjU1Mi40NDgtMSAxLTFzMSAuNDQ4IDEgMXYxMHptNSAwYzAgLjU1Mi0uNDQ4IDEtMSAxcy0xLS40NDgtMS0xdi0xMGMwLS41NTIuNDQ4LTEgMS0xczEgLjQ0OCAxIDF2MTB6bTUgMGMwIC41NTItLjQ0OCAxLTEgMXMtMS0uNDQ4LTEtMXYtMTBjMC0uNTUyLjQ0OC0xIDEtMXMxIC40NDggMSAxdjEwem00LTE4djJoLTIwdi0yaDUuNzExYy45IDAgMS42MzEtMS4wOTkgMS42MzEtMmg1LjMxNWMwIC45MDEuNzMgMiAxLjYzMSAyaDUuNzEyeiIvPjwvc3ZnPg==)
    center no-repeat;
  background-size: 14px;
  opacity: 0.5;
  margin: 0;
  padding: 0;
}

.upsell__cart-cart-item .clear button:hover {
  opacity: 1;
}

.upsell__cart-cart-item .upsell__cart-price {
  color: var(--dark-grey);
  font-size: 13px;
  font-weight: 700;
}
.upsell__cart-cart-item .upsell__cart-price s {
  color: var(--grey);
}

.upsell__cart-cart-item button {
  background: var(--blue);
  color: var(--white);
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 70px;
  height: 28px;
}

.upsell__cart-cart-item .upsell__cart-options-select {
  width: 100%;
}

.upsell__cart-cart-item .upsell__cart-options-select select {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.upsell__cart-upsell {
  background: var(--darker-grey);
  padding: 15px;
  margin: 0;
}

.upsell__cart-upsell .upsell__cart-subtitle {
  margin: 0 0 15px;
}

.upsell__cart-upsell .upsell__cart-cart-item {
  background: var(--white);
  margin: 0 0 10px;
}

.upsell__cart-footer {
  background: var(--white);
  width: calc(100% - 30px);
  position: absolute;
  bottom: 0;
  border-top: 1px solid var(--light-grey);
  padding: 15px 0px;
  border-radius: 0 0 15px 15px;
  padding-left:15px;
}

.upsell__cart-subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  color: var(--grey);
}

.upsell__cart-subtotal .upsell__cart-subtotal-items {
  color: var(--dark-grey);
}

.upsell__cart-subtotal .upsell__cart-discount {
  color: var(--red);
  margin-right: 10px;
}

.upsell__cart-checkout {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

button.btn-secondary {
  width: 100%;
  height: 42px;
  line-height: 36px;
  color: var(--red);
  background: var(--white);
  border: 2px solid var(--red);
  border-radius: 6px;
  margin: 7px 0 0;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

.empty-cart {
  margin: 30px 15px;
  padding: 15px;
  border: 1px solid var(--light-grey);
  background: var(--lighten-grey);
}

.afterpay {
  color: var(--dark-grey);
  padding: 10px 0 0;
  text-align: center;
  font-size: 13px;
}

.afterpay img {
  height: 12px;
  position: relative;
  top: 3px;
}

.upsell__cart-upsell2 {
  background: var(--darker-grey);
}

.upsell__cart-upsell2 .upsell__cart-title {
  margin: 15px 0 7px;
}

.upsell__cart-upsell2-container {
  overflow: auto;
  white-space: nowrap;
  padding: 7px;
  position: relative;
}
button#next {
  position: absolute;
  top: 50%;
  right: 5px;
}
button#prev {
  position: absolute;
  top: 50%;
  left: 5px;
}
.upsell__cart-upsell2-item {
  width: 140px;
  background: var(--white);
  margin: 8px;
  padding: 15px;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  
}
/* .upsell__cart-upsell2-item.active {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.upsell__cart-upsell2-item.active~.upsell__cart-upsell2-item {
  -webkit-transform: translate(140px, 0);
  transform: translate(140px, 0);
} */
.upsell__cart-upsell2-container.crousl::-webkit-scrollbar {
  display: none;
}
.upsell__cart-upsell2-item img {
  max-width: 100%;
  height: auto;
}
.upsell__cart-upsell2 .crausalbtn.crousl {
  display: block;
  cursor: pointer;
}
.upsell__cart-upsell2-item .upsell__cart-title-qty strong {
  display: block;
  white-space: normal;
  height: 20px;
  overflow: hidden;
}
.upsell__cart-upsell2 {
  position: relative;
}
.upsell__cart-upsell2-item .upsell__cart-price {
  color: var(--dark-grey);
  font-size: 13px;
  font-weight: 700;
}

.upsell__cart-upsell2-item .upsell__cart-price s {
  color: var(--grey);
}

.upsell__cart-upsell2-item .upsell__cart-discount {
  color: var(--red);
}

.upsell__cart-upsell2-item button {
  color: var(--white);
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  height: 28px;
  margin: 5px 0 0;
}

.upsell__cart-upsell2-item .upsell__cart-options-select {
  width: 100%;
}

.upsell__cart-upsell2-item .upsell__cart-options-select select {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px 0 0;
}
span.crossw {
  position: absolute;
  float: right;
  width: 100%;
  text-align: right;
  overflow: hidden;
  right: 0;
  margin-right: 25px;
  font-size: 20px;
  top: 3px;
  font-weight: 600;
  cursor: pointer;
}
marquee#upsell_mslide span {
  margin-left: 70px;
}
.upsell_animate{
  -webkit-transition: 0.25s ease;
  transition: 0.3s ease;
  -webkit-transform: translate(-140px, 0);
  transform: translate(-140px, 0);
}
.upsell_animaterev{
  -webkit-transition: 0.25s ease;
  transition: 0.3s ease;
  -webkit-transform: translate(140px, 0);
  transform: translate(140px, 0);
}
.upsell__cart-image img {
  height: 100px;
  width:100%;
}
div#viewcart a {
  height: 42px;
  line-height: 36px;
  color: var(--white);
  border-radius: 6px;
  border: none;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  display: block;
  width: calc(100% - 30px);
}
div#continueshop a {
  height: 42px;
  line-height: 36px;
  color: var(--white);
  border-radius: 6px;
  border: none;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  display: block;
  width: calc(100% - 30px);
}
#chkoutbtn a{
  color:#fff;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: block;
}
button#viewCartButton a {
  height: 100%;
  width: 100%;
  display: block;
}
.notediv {
  display: grid;
  width: calc(100% - 30px);
  margin: 0 auto;
}
.upsell__cart-upsell2 .crausalbtn {
  display: none;
}
div#newwidget {
  background: var(--darker-grey);
}
div#fitms {
  position: relative;
  white-space: nowrap;
  padding: 7px;
}
#recentvue{
  position: relative;
  white-space: nowrap;
  padding: 7px;
}
.crausalbtn {
  cursor: pointer;
}
div#recent_view {
  position: relative;
}
div#featured_itm {
  position: relative;
}
.disount_input {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
  padding: 0px 16px;
}
.disount_input input.addrecomd {
  color: #fff;
  border: none;
  width: 100px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
div#afterpayBottom p {
  margin: 0;
}
div#freegifts p {
  margin: 0;
  text-align: center;
}
div#giftlayout p {
  margin: 0;
  text-align: center;
}
.allrewars img {
  height: 70px;
  width: 70px;
  background: rgb(238, 238, 238);
}
.allrewars >div {
  display: grid;
}
div#freegifts {
  display: none;
}
div#giftlayout {
  display: none;
}
button.upsell_crausalbtn{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  border-radius: 100%;
  padding: 6px;
}